<div>
    <ul>
        {{#each models}}
        <li>
            <div class="flexContainer">
                <p>{{model}}</p>
                <div>
                    <div class="inlineButton large" data-index="{{@index}}" data-models="edit" data-click="editModel"><i class="material-icons md-dark">edit</i></div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
