.material-icons.md-light {
    z-index: 5;
}

h1 > i, h2 > i, h3 > i {
    font-size: inherit !important;
    line-height: inherit;
}

dialog {
    border: none;
}

div#addRouteDialog dialog.form {
    height: 300px;
}

article section#activePanel {
    display: block;
    position: relative;
    /*text-align: center;*/
    vertical-align: text-top;
    overflow-y: hidden;;
    overflow-x: hidden;
    margin-top: 48px;
}

article section div#basePanel {
    min-height: 400px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: calc(100% - 250px);
    overflow-y: auto;
    height: 100%;
}

article section div#mainProject {
    height: calc(100% - 58px);
}

article section#main h1 {
    color: rgba(0, 0, 0, 0.1);
    font-size: 64px;
    font-weight: 100;
    margin-top: 23%;
    text-align: center;
}

article section#activePanel div.panel#schema {
    top: 0;
    width: 40%;
    height: 310px;
    margin-top: 8px;
}

article section#activePanel div.panel#schema button#compile {
    position: absolute;
    top: 42%;
    right: -18px;
    background-color: #e91e63;
    z-index: 2;
    transition: background-color 0.3s;
}

article section#activePanel div.panel#schema footer p {
    color: #4caf50;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
}

article section#activePanel div.panel#schema footer p.bad {
    color: #f44336;
}

article section#activePanel div.panel#viewer {
    height: 310px;
    position: absolute;
    right: 0;
    top: 37px;
    width: 52%;
}

article section#activePanel div.panel#viewer div#renderWindow {
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
}

article section#activePanel div#viewer.panel header div#generate.tools {
    right: 64px;
}

article section#activePanel div#viewer.panel.viewer header nav#theme.tools,
article section#activePanel div#schema.panel.editor header nav#schemaSelector.menu.tools {
    left: unset;
    right: 32px;
    width: 24px;
}

article section#activePanel div.panel.viewer header nav#more.tools {
    left: unset;
    right: 0;
    width: 24px;
}

article section#activePanel div#viewer.panel.viewer header nav#more.tools.menu i,
article section#activePanel div#viewer.panel.viewer header nav#theme.tools i,
article section#activePanel div#schema.panel.editor header nav#schemaSelector.menu.tools i {
    cursor: context-menu;
}

article section#activePanel div#viewer.panel.viewer header nav#more.tools ul,
article section#activePanel div#viewer.panel.viewer header nav#theme.tools ul,
article section#activePanel div#schema.panel.editor header nav#schemaSelector.menu.tools ul {
    display: block;
    position: absolute;
    right: 0;
    text-align: left;
    width: 216px;
}

article section#activePanel div.panel#source {
    min-height: 300px;
}

article section#activePanel div.panel#source textarea[name=html],
    article section#activePanel div.panel#source textarea[name=css] {
    height: 2em;
}

article section#activePanel div#basic header h1 {
    font-size: 24px;
    padding: 15px 15px 0;
    color: rgba(0, 0, 0, 0.85);
}

article section#activePanel div#basic header div {
    display: block;
    float: right;
    position: absolute;
    right: 16px;
    top: 16px;
}

div.info {
    margin-left: 40px !important;
}

dialog.mediumForm {
    height: 232px;
    margin-left: -184px;
    margin-top: -140px;
    width: 368px;
}

dialog h2, dialog label {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin-left: 0;
    padding: 0;
    z-index: -1;
}

dialog input[type="checkbox"] {
    display: block;
    float: left;
    z-index: +1;
}
